{% extends 'base.html' %}

{% block title %}All Pets{% endblock %}

{% block content %}
<div class="container">
  <ul>
    {% for pet in pets %}
    {% if pet.available %}
    <li><a href="/{{ pet.id }}">{{ pet.name }} </a><b>Is Available</b></li>
    {% if pet.photo_url != '' %}
    <img src="{{ pet.photo_url }}" alt="">
    {% endif %}
    {% else %}
    <li><a href="/{{ pet.id }}">{{ pet.name }}</a></li>
    {% if pet.photo_url != '' %}
    <img src="{{ pet.photo_url }}" alt="">
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <a href="/add">Add Pet</a>
</div>

{% endblock %}