{% extends 'base.html' %}
{% block title %}
{{ pet.name }} Page
{% endblock %}
{% block content %}
<img width="200" src="{{ pet.photo_url }}" alt="">
<h1>{{ pet.name }}</h1>
<ul>
  <li>{{ pet.age }}</li>
  <li>{{ pet.species }}</li>
</ul>

<form id="edit-pet-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}

  <p>
    {{ field.label }}
    {{ field }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}

  <button type="submit">Submit</button>
</form>

<a href="/">Back</a>
{% endblock %}